This is the API key to allow us to connect to the panorama instance. More information here - https://docs.paloaltonetworks.com/pan-os/11-0/pan-os-panorama-api/get-started-with-the-pan-os-xml-api/get-your-api-key. The API key should only be one line in this file. NO MORE
